:host {
  overflow-y: auto;
  max-height: 100vH;
}

.price {
  margin-left: .5em;
}

ul {
  li {
    min-height: 3em;
    display: flex;
    flex-flow: row;
    align-items: center;

    .pi {
      margin-right: .5em;

      &.pi-folder {
        color: red;
      }

      &.pi-file {
        color: lightblue;
      }
    }

    p-button {
      margin-left: .5em;
    }

    &.root {
      padding: 0 1em;
    }
  }

  &.list {
    li {
      position: relative;

      &:after,
      &:before {
        position: absolute;
        content: '';
        display: block;
        background-color: #E6E6E9;

        top: 1.5em;
        left: -1em;
        width: 1.5em;
        height: 2px;
      }

      &:after {
        top: -0.5em;
        left: -1em;
        width: 2px;
        height: 2em;
      }
    }
  }
}
